:root {
  --red_primary_color: #c11616;
  --ui-color-danger-light: #eb5151;
  --neutras-aco: #273644;
  --neutras-gray: #8d9aa6;
  --neutras-prata: #3c4b58;
  --ui-color-danger: #e62121;
  --ui-color-primary: #2648a1;
  --neutras-neve: #f9fafc;
  --neutras-white: #ffffff;
  --neutras-neve-dark: #eff2f7;
}

html {
  font-family: "Inter", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.container-texto {
  width: 60%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 280px;
  height: 16.25rem;
  border-radius: 5px;
  border: 1px solid #eb5151;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  color: var(--red_primary_color);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 140%;
  width: 245px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.card-title {
  color: var(--ui-color-danger-light);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 160%;
  width: 245px;
  text-align: left;
  margin-top: 23px;
}

.card-publisher {
  color: var(--ui-color-danger-light);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
}

.card-description {
  width: 245px;
  text-align: left;
  margin-bottom: 17px;
}

.card-publication {
  color: var(--neutras-gray);
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 160%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Notícia */

.noticia h1{
  color: var(--neutras-aco, #273644);
  font-size: 40px;
  font-weight: 800;
  line-height: 140%; /* 56px */
}

.noticia .autor {
  padding: 8px 0 8px 33px;
  background: #EFF2F7;
  gap: 30px;
}

.noticia .autor p {
  color: var(--neutras-prata, #3C4B58);
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.noticia .autor p .nome-autor {
  color: var(--ui-color-danger-light, #EB5151);
  font-weight: 700;
  text-decoration-line: underline;
}

.noticia .autor p .texto-leve {
  font-weight: 300;
}

.noticia .texto-noticia {
  color: #707C8C;
  font-size: 21px;
  line-height: 160%; /* 33.6px */
}

.noticia .continue-lendo {
  
}

.noticia .continue-lendo .gradient {
  padding: 12px 4px 0 4px;
  background: linear-gradient(90deg, #EFF0F2 0%, rgba(249, 250, 252, 0.00) 50.31%);
}
