/* classes gerais */
::root {
  --red_primary_color: #c11616;
  --ui-color-danger-light: #eb5151;
  --neutras-aco: #273644;
  --neutras-gray: #8d9aa6;
  --neutras-prata: #3c4b58;
  --ui-color-danger: #e62121;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-texto {
  width: 60%;
  margin: 0 auto;
}

.card {
  width: 17.5rem;
  height: 16.25rem;
  border-radius: 5px;
  border: 1px solid #eb5151;
}

.card-text {
  color: var(--ui-color-danger-dark);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 140%;
}

.card-title {
  color: var(--ui-color-danger-light);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 160%;
}

.card-publisher {
  color: var(--ui-color-danger-light);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
}

.card-publication {
  color: var(--neutras-gray);
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 160%;
}

* {
  margin: 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.galeria {
  justify-content: space-between;
}

.fotos, .videos {
  width: 586px;
}

/*----------------------*/

.foto_inteira1 {
  width: 237px;
}

.foto_inteira2 {
  width: 223px;
  margin: 0 17px 0 0 ;
}

.foto_cortada {
  width: 81px;
}

.video_inteiro {
  width: 384px;
}

.video_cortado {
  width: 181px;
  height: 221px;
}

/*----------------------*/

.lista {
  list-style: none;
  padding: 0;
  gap: 17px;
}

.relativo {
  position: relative;
}

.absoluto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: white solid 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}